// sample

$colors: (
    primary: (
      scissor: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)),
      paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%)),
      rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)),
      lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%)),
      cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%)),
    ),
    neutral: (
      text: hsl(229, 25%, 31%),
      score: hsl(229, 64%, 46%),
      header-outline: hsl(217, 16%, 45%),
      w: hsl(0, 0%, 100%),
    ),
    background: (
      main: hsl(238, 48%, 15%),
      winner: radial-gradient(#1f3756, #141539)
    )
)